* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    background-image: url(/src/img/sfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.form-seriale {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.card {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.1));

    padding: 10px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 30px;
    text-align: center;
}

.select {
    appearance: none;
    width: calc(50% - 10px);
    text-align: center;
}

.input-apparato {
    width: calc(80% - 10px);
}

.salva-apparato {
    width: calc(20% - 10px);
    text-align: center;
}

.button-salva-seriale {
    width: calc(50% - 10px);
}

.error {
    width: 100%;
    color: red;
}

button:active {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.4));
}

.card-seriali {
    width: 100%;
    min-height: 100dvh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.seriale {
    width: 100%;
}

.flex.seriale {
    justify-content: space-between;
}

.w50 {
    width: calc(50% - 10px);
}

.w100 {
    width: 100%;
}

.delete {
    background: linear-gradient(10deg,
            rgba(255, 0, 0, 0.5),
            rgba(255, 0, 0, 0.1));
}

.delete:active {
    background: linear-gradient(135deg,
            rgba(255, 0, 0, 0.8),
            rgba(255, 0, 0, 0.4));
}

.put {
    background: linear-gradient(10deg,
            rgba(242, 255, 0, 0.5),
            rgba(242, 255, 0, 0.1));
}

.put:active {
    background: linear-gradient(135deg,
            rgba(242, 255, 0, 0.8),
            rgba(242, 255, 0, 0.4));
}

.mt {
    margin-top: 10px;
}

.card.nav {
    width: 200px;
    flex: 0 0 auto;
}

.flex.nav-btn {
    overflow-x: scroll;
    flex-wrap: nowrap;
    scrollbar-width: none;
}